* {
    box-sizing: border-box;
}
.registration {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}
form {
    width: 100%;
    max-width: 100%;
}
input {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    background-color: #fff;
}
input[type="checkbox"] {
    width: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    margin: 0;
}
label {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 20px;
}
span {
    color: #333;
}

button {
    width: 100%;
    margin: 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background-color: #edf7fa;
    transition: 0.2s ease-in-out;
}
button:hover {
    background-color: #d6edee;
}
button:disabled:hover {
    background-color: #edf7fa;
    cursor: default;
}
a {
    text-align: center;
    text-decoration: none;
}
